
Try this example!

<form method="post">
  <p>Select : </p>
	<select name="Icecream Flavours">
		<option value="double chocolate">Double Chocolate</option>
		<option value="vanilla">Vanilla</option>
		<option value="strawberry">Strawberry</option>
		<option value="caramel">Caramel</option>
	</select>
</form>
<style>
  select{
    width: 640px;
    align-self: center;
    color: #ffffff;
    background: darkmagenta;
    font-weight: bold;
    border: darkmagenta;
  }
</style>